* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(178, 209, 236);
}

.choose{
    position: absolute;
    top: 10%;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    &>h2{
        color: rgba(67, 214, 22, 0.726);
    }
}
.heading,.inputs,.form-check{
    display: flex;
    justify-content: center;
}
.form-check-input{
    height: 2vmin;
    width:  2vmin;
    background-color: rgba(255, 0, 0, 0.418);
}
.sectionsPart{
    width: 100vw;
    height: 80%;
    border: 1px solid rgb(0, 26, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 20%;
}
.sections{
    height: 99%;
    width: 50%;
    /* background-color: red; */
}

.stopWatchSection{
    border-left: 2px solid rgb(78, 61, 61);
}
.getLimit{
    width: 100%;
    border:1px solid red;
    display: flex;
   justify-content: center;
   align-items: center;
   gap: 2%;
   &>button{
    background-color: rgba(0, 128, 0, 0.671);
    color: rgb(66, 255, 192);
    border-radius: 50%;
    font-weight: 500;
   }
}

.clock{
    height: 30vmin;
    width: 30vmin;
    position: relative;
    top: 20%;
    left: 40%;
    border-radius: 20%;
    color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background-color: rgb(0, 0, 0);
}
.clock>.name{
    width: 100%;
    /* background-color: gold; */
    /* height: 1vmin; */
}
.clock>.time{
    /* background-color: red; */
    width: 100%;
}

.minTimer, .secTimer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnSection{
    /* background-color: red; */
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: end;
}